cornice==1.1.0
commonmark==0.9.1
recommonmark==0.7.1
docutils==0.16

#furo==2022.2.14.1
pydata-sphinx-theme==0.8.0

sesamclient==0.2.68
sphinx-argparse==0.3.1
Sphinx==4.4.0
sphinxcontrib-httpdomain==1.8.0
sphinxcontrib-openapi==0.7.0

# https://github.com/Tribler/tribler/issues/6624
mistune==0.8.4
sphinx-panels==0.6.0
