cornice
commonmark
myst-parser
docutils

#furo==2022.2.14.1
pydata-sphinx-theme
sesamclient==0.2.68
sphinx-argparse
sphinx==5
sphinxcontrib-httpdomain
sphinxcontrib-openapi

# https://github.com/Tribler/tribler/issues/6624
mistune
sphinx-panels
sphinx-notfound-page
sphinx-copybutton
sphinx-reredirects
sphinx-jinja
