{% extends "!layout.html" %}

{% block footer %}
{{ super() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDKEJY06V9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZDKEJY06V9');
</script>
<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="https://js.hs-scripts.com/19709964.js"></script>
<!-- End of HubSpot Embed Code -->
{% endblock %}

{%- block footer_wrapper %}
  <div class="footer">
    &copy; {{ copyright }}
  </div>
{%- endblock %}

{%- block docs_body %}
  {% include "breadcrumb.html" %}
  {{ super() }}
{%- endblock %}