Supported types
---------------
{% if (datatypes is defined) and datatypes %}
The following types are currently supported.

.. list-table::
   :header-rows: 1

   * - {{label}} type
     - Maps to
     - Read
     - Write

{% for k, v in datatypes.items() %}
   * - {{v.label}}
     - :ref:`{{v.maps_to_label}} <{{v.maps_to}}>`
     - {{ 'Yes' if v.read else 'No' }}
     - {{ 'Yes' if v.write else 'No' }}
{% endfor %}
{% else %}
No types are supported yet.
{% endif %}
