Supported types
---------------
{% if (datatypes is defined) and datatypes %}
The following types are currently supported.

.. list-table::
   :header-rows: 1

   * - {{label}} type
     - Maps to
     - Read
     - Write

{% for k, v in datatypes.items() %}
   * - {{v.label}}
     - :ref:`{{v.maps_to_label}} <{{v.maps_to}}>`
     - {% if "available" == v.read %}Yes{% elif "limited" == v.read %}Limited{% elif "beta" == v.read %}Beta{% elif "not_applicable" %}N/A{% endif %}
     - {% if "available" == v.write %}Yes{% elif "limited" == v.write %}Limited{% elif "beta" == v.write %}Beta{% elif "not_applicable" %}N/A{% endif %}
{% endfor %}
{% else %}
No types are supported yet.
{% endif %}
