/* add any theme overrides here */

.container-xl {
	min-width: 100%
}

.bd-sidebar {
	max-width: 20%;
	max-height: 70vh;
}

.bd-toc {
	min-width: 20%;
	max-width: 20%;
}

.bd-content {
	min-width: 60%;
}

h1, h2, h3, h4, h5, h6 {
	color: #1E1E1E;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

a.nav-link {
	font-size: 1.2em;
}

.navbar-brand {
	padding: 12px;
}

.navbar-collapse {
	align-items: flex-start;
    justify-content: left;
    max-width: 79%;
}

.bd-links {
    max-height: 70vh;
}

.mt-5 {
	margin-top: 3rem!important;
}

@media (min-width: 720px)
.mt-md-0, .my-md-0 {
	margin-top: 3rem!important;
}

body {
	position: relative;
}

footer {
	position: absolute;
	bottom:  -12em;
}
