/* add any theme overrides here */

.container-xl {
	min-width: 100%
}

.bd-sidebar {
	max-width: 20%;
}

.bd-toc {
	min-width: 20%;
	max-width: 20%;
}

.bd-content {
	min-width: 60%;
}

h1, h2, h3, h4, h5, h6 {
	color: #1E1E1E;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

a.nav-link {
	font-size: 1.2em;
}

.navbar-brand {
	padding: 12px;
}

.navbar-collapse {
	align-items: flex-start;
    justify-content: left;
    max-width: 79%;
}

.bd-links {
    max-height: 70vh;
}


.btn-block {
    display: block;
    border-width:  2px;
    max-width:  200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
  
}

.btn-outline-primary{

	border-width:  2px;
	text-align: center; 

}


.btn-all-sections {
  background-color: #007bff;
  color:  white;
  border: none;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-all {
  background-color: #009fdc; 
  color: white !important; 
  }

.btn-all:hover {
  background-color: #023258;
  color: white;
}

.center-title {
text-align:  center !important;
}
